---
# tasks/shell.yml for gnome_shell

- name: "Remove unwanted Shell Packages"
  ansible.builtin.package:
    name: "{{ gnome_shell_unwanted_package_names }}"
    state: "{{ gnome_shell_unwanted_package_state }}"
  become: true
  tags:
    - "gnome"
    - "shell"
    - "unwanted"
    - "package"
...
